@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?prfrpj');
	src:url('../fonts/icomoon.eot?prfrpj#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?prfrpj') format('truetype'),
		url('../fonts/icomoon.woff?prfrpj') format('woff'),
		url('../fonts/icomoon.svg?prfrpj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mail4:before {
	content: "\e800";
}
.icon-facebook3:before {
	content: "\e801";
}
.icon-twitter3:before {
	content: "\e802";
}
body{
	margin:0;
}
h1{
	font-family: 'Arial', "sans serif";
	font-size: 42px;
	font-weight: 900;
	color: white;
	margin: 0;
	line-height: 79px;
}
h2{
	font-family: 'Arial', 'sans serif';
	font-size: 22px;
	margin: 0;
	line-height: 79px;
}
h3{
	font-family: 'Arial', 'sans serif';
	font-size: 26px;
	color: #A09892;
}
hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
	margin:o auto;
	width: 823px;
}
p{
	font-family: 'Arial', 'sans serif';
	font-size: 16px;
	line-height: 32px;
	color: #444444;
}
#nav-wrap{
	width:100%;
	height: 79px;
	background-color: #93C9C7;
	text-align: center;
	position: relative;
}

#nav-wrap h1{
	width: 353px;
	display: inline-block;
}
.nav-links{
	text-decoration: none;
	width: 90px;
	color: #5B7C7C;
	display: inline-block;
}
#nav-wrap #gallery{
	float:left;
	margin-left: 129px;
}
#nav-wrap #about{
	float: right;
	margin-right: 129px;
}
#header{
	text-align: center;
}
#header h3{
	margin-top: 47px;
}

#info{
	width: 100%;
	margin: 47px auto;
}
.left-c{
	width: 50%;
	float: left;
	display: inline-block;
	margin-left: 129px;
	margin-right: 60px;
}
.right-c{
	display: inline-block;
	float: right;
	width: 240px; 
	margin-right: 129px;
}
.right-c h3{
	text-align: center;
}
.links{
	text-align: center;
	font-size: 36px;
	color: #5B7C7C;
	letter-spacing: 10px;
}
#grid{
	list-style: none;
    padding: 0 0 50px 0;
    margin: 0 auto;
    clear: both;
    width: 100%;
}

Clear floats 
#grid:before, 
#grid:after { 
    content: " "; 
    display: table; 
}
 
#grid:after { 
    clear: both; 
}

#grid li {
    width: 33.3%;
    float: left;
    height: 299px;
    text-align: center;
}

.g-thumb {
    padding: 30px 0 0 0;
    display: block;
}

#grid .g-label {
    margin: 20px 0 10px 0;
    padding: 20px 0 0 0;
    font-size: 2em;
    position: relative;
}