#beige .nr1 { background: #a19893;}
#beige .nr2 { background: #6d6865;}
#beige .nr3 { background: #8a837d;}
#beige .nr4 { background: #bdb2ac;}

#beige .nr5 { background: #8a837d;}
#beige .nr6 { background: #bdb2ac;}
#beige .nr7 { background: #6d6865;}
#beige .nr8 { background: #a19893;}

#beige .nr9 { background: #bdb2ac;}
#beige .nr10 { background: #a19893;}
#beige .nr11 { background: #8a837d;}
#beige .nr12 { background: #6d6865;}

#beige .nr13 { background: #a19893;}
#beige .nr14 { background: #8a837d;}
#beige .nr15 { background: #6d6865;}
#beige .nr16 { background: #bdb2ac;}


#beige .nr1{
  -webkit-animation:bcolor1 18s ease-out infinite;
          animation:bcolor1 18s ease-out infinite;
  

}
@-webkit-keyframes bcolor1 {
  0%{ background: #a19893; }
  25%{ background: #bdb2ac; }
  50%{ background: #6d6865; }
  75%{ background: #8a837d; }
  100%{ background: #a19893; }
}
@keyframes bcolor1 {
  0%{ background: #a19893; }
  25%{ background: #bdb2ac; }
  50%{ background: #6d6865; }
  75%{ background: #8a837d; }
  100%{ background: #a19893; }
}

#beige .nr2{
  -webkit-animation:bcolor2 13s ease-out infinite;
          animation:bcolor2 13s ease-out infinite;
  

}
@-webkit-keyframes bcolor2 {
  0%{ background: #6d6865; }
  25%{ background: #a19893; }
  50%{ background: #bdb2ac; }
  75%{ background: #8a837d; }
  100%{ background: #6d6865; }
}
@keyframes bcolor2 {
  0%{ background: #6d6865; }
  25%{ background: #a19893; }
  50%{ background: #bdb2ac; }
  75%{ background: #8a837d; }
  100%{ background: #6d6865; }
}

#beige .nr3{
  -webkit-animation:bcolor3 8s ease-out infinite;
          animation:bcolor3 8s ease-out infinite;
  

}
@-webkit-keyframes bcolor3 {
  0%{ background: #8a837d; }
  25%{ background: #6d6865; }
  50%{ background: #a19893; }
  75%{ background: #bdb2ac; }
  100%{ background: #8a837d; }
}
@keyframes bcolor3 {
  0%{ background: #8a837d; }
  25%{ background: #6d6865; }
  50%{ background: #a19893; }
  75%{ background: #bdb2ac; }
  100%{ background: #8a837d; }
}

#beige .nr4{
  -webkit-animation:bcolor4 12s ease-out infinite;
          animation:bcolor4 12s ease-out infinite;
  

}
@-webkit-keyframes bcolor4 {
  0%{ background: #bdb2ac; }
  25%{ background: #8a837d; }
  50%{ background: #a19893; }
  75%{ background: #6d6865; }
  100%{ background: #bdb2ac; }
}
@keyframes bcolor4 {
  0%{ background: #bdb2ac; }
  25%{ background: #8a837d; }
  50%{ background: #a19893; }
  75%{ background: #6d6865; }
  100%{ background: #bdb2ac; }
}

#beige .nr5{
  -webkit-animation:bcolor5 10s ease-out infinite;
          animation:bcolor5 10s ease-out infinite;
  

}
@-webkit-keyframes bcolor5 {
  0%{ background: #6d6865; }
  25%{ background: #a19893; }
  50%{ background: #bdb2ac; }
  75%{ background: #8a837d; }
  100%{ background: #6d6865; }
}
@keyframes bcolor5 {
  0%{ background: #6d6865; }
  25%{ background: #a19893; }
  50%{ background: #bdb2ac; }
  75%{ background: #8a837d; }
  100%{ background: #6d6865; }
}

#beige .nr6{
  -webkit-animation:bcolor6 15s ease-out infinite;
          animation:bcolor6 15s ease-out infinite;
  

}
@-webkit-keyframes bcolor6 {
  0%{ background: #8a837d; }
  25%{ background: #6d6865; }
  50%{ background: #a19893; }
  75%{ background: #bdb2ac; }
  100%{ background: #8a837d; }
}
@keyframes bcolor6 {
  0%{ background: #8a837d; }
  25%{ background: #6d6865; }
  50%{ background: #a19893; }
  75%{ background: #bdb2ac; }
  100%{ background: #8a837d; }
}

#beige .nr7{
  -webkit-animation:bcolor7 11s ease-out infinite;
          animation:bcolor7 11s ease-out infinite;
  

}
@-webkit-keyframes bcolor7 {
  0%{ background: #a19893; }
  25%{ background: #bdb2ac; }
  50%{ background: #6d6865; }
  75%{ background: #8a837d; }
  100%{ background: #a19893; }
}
@keyframes bcolor7 {
  0%{ background: #a19893; }
  25%{ background: #bdb2ac; }
  50%{ background: #6d6865; }
  75%{ background: #8a837d; }
  100%{ background: #a19893; }
}

#beige .nr8{
  -webkit-animation:bcolor8 10s ease-out infinite;
          animation:bcolor8 10s ease-out infinite;
  

}
@-webkit-keyframes bcolor8 {
  0%{ background: #bdb2ac; }
  25%{ background: #8a837d; }
  50%{ background: #a19893; }
  75%{ background: #6d6865; }
  100%{ background: #bdb2ac; }
}
@keyframes bcolor8 {
  0%{ background: #bdb2ac; }
  25%{ background: #8a837d; }
  50%{ background: #a19893; }
  75%{ background: #6d6865; }
  100%{ background: #bdb2ac; }
}


#beige .nr9{
  -webkit-animation:bcolor9 16s ease-out infinite;
          animation:bcolor9 16s ease-out infinite;
  

}
@-webkit-keyframes bcolor9 {
  0%{ background: #a19893; }
  25%{ background: #bdb2ac; }
  50%{ background: #6d6865; }
  75%{ background: #8a837d; }
  100%{ background: #a19893; }
}
@keyframes bcolor9 {
  0%{ background: #a19893; }
  25%{ background: #bdb2ac; }
  50%{ background: #6d6865; }
  75%{ background: #8a837d; }
  100%{ background: #a19893; }
}

#beige .nr10{
  -webkit-animation:bcolor10 14s ease-out infinite;
          animation:bcolor10 14s ease-out infinite;
  

}
@-webkit-keyframes bcolor10 {
  0%{ background: #6d6865; }
  25%{ background: #a19893; }
  50%{ background: #8a837d; }
  75%{ background: #a19893; }
  100%{ background: #6d6865; }
}
@keyframes bcolor10 {
  0%{ background: #6d6865; }
  25%{ background: #a19893; }
  50%{ background: #8a837d; }
  75%{ background: #a19893; }
  100%{ background: #6d6865; }
}

#beige .nr11{
  -webkit-animation:bcolor11 18s ease-out infinite;
          animation:bcolor11 18s ease-out infinite;
  

}
@-webkit-keyframes bcolor11 {
  0%{ background: #8a837d; }
  25%{ background: #6d6865; }
  50%{ background: #a19893; }
  75%{ background: #bdb2ac; }
  100%{ background: #8a837d; }
}
@keyframes bcolor11 {
  0%{ background: #8a837d; }
  25%{ background: #6d6865; }
  50%{ background: #a19893; }
  75%{ background: #bdb2ac; }
  100%{ background: #8a837d; }
}

#beige .nr12{
  -webkit-animation:bcolor12 17s ease-out infinite;
          animation:bcolor12 17s ease-out infinite;
  

}
@-webkit-keyframes bcolor12 {
  0%{ background: #bdb2ac; }
  25%{ background: #8a837d; }
  50%{ background: #a19893; }
  75%{ background: #6d6865; }
  100%{ background: #bdb2ac; }
}
@keyframes bcolor12 {
  0%{ background: #bdb2ac; }
  25%{ background: #8a837d; }
  50%{ background: #a19893; }
  75%{ background: #6d6865; }
  100%{ background: #bdb2ac; }
}

#beige .nr13{
  -webkit-animation:bcolor13 13s ease-out infinite;
          animation:bcolor13 13s ease-out infinite;
  

}
@-webkit-keyframes bcolor13 {
  0%{ background: #a19893; }
  25%{ background: #bdb2ac; }
  50%{ background: #6d6865; }
  75%{ background: #8a837d; }
  100%{ background: #a19893; }
}
@keyframes bcolor13 {
  0%{ background: #a19893; }
  25%{ background: #bdb2ac; }
  50%{ background: #6d6865; }
  75%{ background: #8a837d; }
  100%{ background: #a19893; }
}

#beige .nr14{
  -webkit-animation:bcolor14 12s ease-out infinite;
          animation:bcolor14 12s ease-out infinite;
  

}
@-webkit-keyframes bcolor14 {
  0%{ background: #6d6865; }
  25%{ background: #a19893; }
  50%{ background: #8a837d; }
  75%{ background: #a19893; }
  100%{ background: #6d6865; }
}
@keyframes bcolor14 {
  0%{ background: #6d6865; }
  25%{ background: #a19893; }
  50%{ background: #8a837d; }
  75%{ background: #a19893; }
  100%{ background: #6d6865; }
}

#beige .nr15{
  -webkit-animation:bcolor15 16s ease-out infinite;
          animation:bcolor15 16s ease-out infinite;
  

}
@-webkit-keyframes bcolor15 {
  0%{ background: #8a837d; }
  25%{ background: #6d6865; }
  50%{ background: #a19893; }
  75%{ background: #bdb2ac; }
  100%{ background: #8a837d; }
}
@keyframes bcolor15 {
  0%{ background: #8a837d; }
  25%{ background: #6d6865; }
  50%{ background: #a19893; }
  75%{ background: #bdb2ac; }
  100%{ background: #8a837d; }
}

#beige .nr16{
  -webkit-animation:bcolor16 20s ease-out infinite;
          animation:bcolor16 20s ease-out infinite;
  

}
@-webkit-keyframes bcolor16 {
  0%{ background: #bdb2ac; }
  25%{ background: #8a837d; }
  50%{ background: #a19893; }
  75%{ background: #6d6865; }
  100%{ background: #bdb2ac; }
}
@keyframes bcolor16 {
  0%{ background: #bdb2ac; }
  25%{ background: #8a837d; }
  50%{ background: #a19893; }
  75%{ background: #6d6865; }
  100%{ background: #bdb2ac; }
}