#blue .nr1 { background: #6e9695;}
#blue .nr2 { background: #80b0b0;}
#blue .nr3 { background: #5c7b7d;}
#blue .nr4 { background: #95c7c8;}

#blue .nr5 { background: #5c7b7d;}
#blue .nr6 { background: #95c7c8;}
#blue .nr7 { background: #80b0b0;}
#blue .nr8 { background: #6e9695;}

#blue .nr9 { background: #95c7c8;}
#blue .nr10 { background: #6e9695;}
#blue .nr11 { background: #5c7b7d;}
#blue .nr12 { background: #80b0b0;}

#blue .nr13 { background: #6e9695;}
#blue .nr14 { background: #5c7b7d;}
#blue .nr15 { background: #80b0b0;}
#blue .nr16 { background: #95c7c8;}


#blue .nr1{
	-webkit-animation:color1 18s ease-out infinite;
			animation:color1 18s ease-out infinite;
}
@keyframes color1 {
  0%{ background: #6e9695; }
  25%{ background: #95c7c8; }
  50%{ background: #80b0b0; }
  75%{ background: #5c7b7d; }
  100%{ background: #6e9695; }
}
@-webkit-keyframes color1 {
  0%{ background: #6e9695; }
  25%{ background: #95c7c8; }
  50%{ background: #80b0b0; }
  75%{ background: #5c7b7d; }
  100%{ background: #6e9695; }
}

#blue .nr2{
	-webkit-animation:color2 13s ease-out infinite;
			animation:color2 13s ease-out infinite;
}
@keyframes color2 {
  0%{ background: #80b0b0; }
  25%{ background: #6e9695; }
  50%{ background: #95c7c8; }
  75%{ background: #5c7b7d; }
  100%{ background: #80b0b0; }
}
@-webkit-keyframes color2 {
  0%{ background: #80b0b0; }
  25%{ background: #6e9695; }
  50%{ background: #95c7c8; }
  75%{ background: #5c7b7d; }
  100%{ background: #80b0b0; }
}

#blue .nr3{
  -webkit-animation:color3 8s ease-out infinite;
          animation:color3 8s ease-out infinite;
  

}
@-webkit-keyframes color3 {
  0%{ background: #5c7b7d; }
  25%{ background: #80b0b0; }
  50%{ background: #6e9695; }
  75%{ background: #95c7c8; }
  100%{ background: #5c7b7d; }
}
@keyframes color3 {
  0%{ background: #5c7b7d; }
  25%{ background: #80b0b0; }
  50%{ background: #6e9695; }
  75%{ background: #95c7c8; }
  100%{ background: #5c7b7d; }
}

#blue .nr4{
  -webkit-animation:color4 12s ease-out infinite;
          animation:color4 12s ease-out infinite;
  

}
@-webkit-keyframes color4 {
  0%{ background: #95c7c8; }
  25%{ background: #5c7b7d; }
  50%{ background: #6e9695; }
  75%{ background: #80b0b0; }
  100%{ background: #95c7c8; }
}
@keyframes color4 {
  0%{ background: #95c7c8; }
  25%{ background: #5c7b7d; }
  50%{ background: #6e9695; }
  75%{ background: #80b0b0; }
  100%{ background: #95c7c8; }
}

#blue .nr5{
  -webkit-animation:color5 10s ease-out infinite;
          animation:color5 10s ease-out infinite;
  

}
@-webkit-keyframes color5 {
  0%{ background: #80b0b0; }
  25%{ background: #6e9695; }
  50%{ background: #95c7c8; }
  75%{ background: #5c7b7d; }
  100%{ background: #80b0b0; }
}
@keyframes color5 {
  0%{ background: #80b0b0; }
  25%{ background: #6e9695; }
  50%{ background: #95c7c8; }
  75%{ background: #5c7b7d; }
  100%{ background: #80b0b0; }
}

#blue .nr6{
  -webkit-animation:color6 15s ease-out infinite;
          animation:color6 15s ease-out infinite;
  

}
@-webkit-keyframes color6 {
  0%{ background: #5c7b7d; }
  25%{ background: #80b0b0; }
  50%{ background: #6e9695; }
  75%{ background: #95c7c8; }
  100%{ background: #5c7b7d; }
}
@keyframes color6 {
  0%{ background: #5c7b7d; }
  25%{ background: #80b0b0; }
  50%{ background: #6e9695; }
  75%{ background: #95c7c8; }
  100%{ background: #5c7b7d; }
}

#blue .nr7{
  -webkit-animation:color7 12s ease-out infinite;
          animation:color7 12s ease-out infinite;
  

}
@-webkit-keyframes color7 {
  0%{ background: #6e9695; }
  25%{ background: #95c7c8; }
  50%{ background: #80b0b0; }
  75%{ background: #5c7b7d; }
  100%{ background: #6e9695; }
}
@keyframes color7 {
  0%{ background: #6e9695; }
  25%{ background: #95c7c8; }
  50%{ background: #80b0b0; }
  75%{ background: #5c7b7d; }
  100%{ background: #6e9695; }
}

#blue .nr8{
  -webkit-animation:color8 13s ease-out infinite;
          animation:color8 13s ease-out infinite;
  

}
@-webkit-keyframes color8 {
  0%{ background: #95c7c8; }
  25%{ background: #5c7b7d; }
  50%{ background: #6e9695; }
  75%{ background: #80b0b0; }
  100%{ background: #95c7c8; }
}
@keyframes color8 {
  0%{ background: #95c7c8; }
  25%{ background: #5c7b7d; }
  50%{ background: #6e9695; }
  75%{ background: #80b0b0; }
  100%{ background: #95c7c8; }
}


#blue .nr9{
  -webkit-animation:color9 16s ease-out infinite;
          animation:color9 16s ease-out infinite;
  

}
@-webkit-keyframes color9 {
  0%{ background: #6e9695; }
  25%{ background: #95c7c8; }
  50%{ background: #80b0b0; }
  75%{ background: #5c7b7d; }
  100%{ background: #6e9695; }
}
@keyframes color9 {
  0%{ background: #6e9695; }
  25%{ background: #95c7c8; }
  50%{ background: #80b0b0; }
  75%{ background: #5c7b7d; }
  100%{ background: #6e9695; }
}

#blue .nr10{
  -webkit-animation:color10 14s ease-out infinite;
          animation:color10 14s ease-out infinite;
  

}
@-webkit-keyframes color10 {
  0%{ background: #80b0b0; }
  25%{ background: #6e9695; }
  50%{ background: #5c7b7d; }
  75%{ background: #6e9695; }
  100%{ background: #80b0b0; }
}
@keyframes color10 {
  0%{ background: #80b0b0; }
  25%{ background: #6e9695; }
  50%{ background: #5c7b7d; }
  75%{ background: #6e9695; }
  100%{ background: #80b0b0; }
}

#blue .nr11{
  -webkit-animation:color11 20s ease-out infinite;
          animation:color11 20s ease-out infinite;
  -webkit-animation-delay:1s;
          animation-delay:1s;

}
@-webkit-keyframes color11 {
  0%{ background: #5c7b7d; }
  25%{ background: #80b0b0; }
  50%{ background: #6e9695; }
  75%{ background: #95c7c8; }
  100%{ background: #5c7b7d; }
}
@keyframes color11 {
  0%{ background: #5c7b7d; }
  25%{ background: #80b0b0; }
  50%{ background: #6e9695; }
  75%{ background: #95c7c8; }
  100%{ background: #5c7b7d; }
}

#blue .nr12{
  -webkit-animation:color12 19s ease-out infinite;
          animation:color12 19s ease-out infinite;
  

}
@-webkit-keyframes color12 {
  0%{ background: #95c7c8; }
  25%{ background: #5c7b7d; }
  50%{ background: #6e9695; }
  75%{ background: #80b0b0; }
  100%{ background: #95c7c8; }
}
@keyframes color12 {
  0%{ background: #95c7c8; }
  25%{ background: #5c7b7d; }
  50%{ background: #6e9695; }
  75%{ background: #80b0b0; }
  100%{ background: #95c7c8; }
}

#blue .nr13{
  -webkit-animation:color13 15s ease-out infinite;
          animation:color13 15s ease-out infinite;
  

}
@-webkit-keyframes color13 {
  0%{ background: #6e9695; }
  25%{ background: #95c7c8; }
  50%{ background: #80b0b0; }
  75%{ background: #5c7b7d; }
  100%{ background: #6e9695; }
}
@keyframes color13 {
  0%{ background: #6e9695; }
  25%{ background: #95c7c8; }
  50%{ background: #80b0b0; }
  75%{ background: #5c7b7d; }
  100%{ background: #6e9695; }
}

#blue .nr14{
  -webkit-animation:color14 14s ease-out infinite;
          animation:color14 14s ease-out infinite;
  

}
@-webkit-keyframes color14 {
  0%{ background: #80b0b0; }
  25%{ background: #6e9695; }
  50%{ background: #5c7b7d; }
  75%{ background: #6e9695; }
  100%{ background: #80b0b0; }
}
@keyframes color14 {
  0%{ background: #80b0b0; }
  25%{ background: #6e9695; }
  50%{ background: #5c7b7d; }
  75%{ background: #6e9695; }
  100%{ background: #80b0b0; }
}

#blue .nr15{
  -webkit-animation:color15 18s ease-out infinite;
          animation:color15 18s ease-out infinite;
  -webkit-animation-delay:1s;
          animation-delay:1s;

}
@-webkit-keyframes color15 {
  0%{ background: #5c7b7d; }
  25%{ background: #80b0b0; }
  50%{ background: #6e9695; }
  75%{ background: #95c7c8; }
  100%{ background: #5c7b7d; }
}
@keyframes color15 {
  0%{ background: #5c7b7d; }
  25%{ background: #80b0b0; }
  50%{ background: #6e9695; }
  75%{ background: #95c7c8; }
  100%{ background: #5c7b7d; }
}

#blue .nr16{
  -webkit-animation:color16 22s ease-out infinite;
          animation:color16 22s ease-out infinite;
  

}
@-webkit-keyframes color16 {
  0%{ background: #95c7c8; }
  25%{ background: #5c7b7d; }
  50%{ background: #6e9695; }
  75%{ background: #80b0b0; }
  100%{ background: #95c7c8; }
}
@keyframes color16 {
  0%{ background: #95c7c8; }
  25%{ background: #5c7b7d; }
  50%{ background: #6e9695; }
  75%{ background: #80b0b0; }
  100%{ background: #95c7c8; }
}