body, html{ 
	width:100%; 
	height:100%; 
	padding:0; 
	margin:0; 
}
 
.slideshow {
	height:100%;
	width:100%;
	overflow: hidden;	
}

.scroll-hijack { height: 100%; }

.slides {
	position: absolute;
	height: 100%;
	width: 100%;
}

.slide,
.content {
	height: 100%;
	-webkit-transition: -webkit-transform 0.9s cubic-bezier(0.63, 0.64, 0.3, 1);
			transition: transform 0.9s cubic-bezier(0.63, 0.64, 0.3, 1);
}

.content {
	background:no-repeat center center;
	background-size:cover;
	color:white;
}

.slide {
	overflow: hidden;
	position: absolute;
	width: 100%;
	text-align:center;
}
.slide.out {
	-webkit-transform: translate3d(0, -100%, 0);
		  transform: translate3d(0, -100%, 0);
}
.slide.out .content {
	-webkit-transform: translate3d(0, 100%, 0);
		  transform: translate3d(0, 100%, 0);
}
.slide:nth-child(1) { z-index: 30; }
.slide:nth-child(2) { z-index: 20; }
.slide:nth-child(3) { z-index: 10; }


.slide .counter{
	position:absolute;
	bottom:0;	
	display:inline-block;
	padding:10px;
}


@media (max-width:1024px){
	.slide.out {
		-webkit-transform: translate3d(-100%, 0, 0);
			  transform: translate3d(-100%, 0, 0);
	}
	.slide.out .content {
		-webkit-transform: translate3d(100%, 0, 0);
			  transform: translate3d(100%, 0, 0);
	}
}



