#green .nr1 { background: #707863;}
#green .nr2 { background: #b7c4a6;}
#green .nr3 { background: #9fac90;}
#green .nr4 { background: #879179;}

#green .nr5 { background: #9fac90;}
#green .nr6 { background: #879179;}
#green .nr7 { background: #b7c4a6;}
#green .nr8 { background: #707863;}

#green .nr9 { background: #879179;}
#green .nr10 { background: #707863;}
#green .nr11 { background: #9fac90;}
#green .nr12 { background: #b7c4a6;}

#green .nr13 { background: #707863;}
#green .nr14 { background: #9fac90;}
#green .nr15 { background: #b7c4a6;}
#green .nr16 { background: #879179;}

#green .nr1{
  -webkit-animation:dcolor1 19s ease-out infinite;
          animation:dcolor1 19s ease-out infinite;
  

}
@-webkit-keyframes dcolor1 {
  0%{ background: #707863; }
  25%{ background: #879179; }
  50%{ background: #b7c4a6; }
  75%{ background: #9fac90; }
  100%{ background: #707863; }
}
@keyframes dcolor1 {
  0%{ background: #707863; }
  25%{ background: #879179; }
  50%{ background: #b7c4a6; }
  75%{ background: #9fac90; }
  100%{ background: #707863; }
}

#green .nr2{
  -webkit-animation:dcolor2 15s ease-out infinite;
          animation:dcolor2 15s ease-out infinite;
  

}
@-webkit-keyframes dcolor2 {
  0%{ background: #b7c4a6; }
  25%{ background: #707863; }
  50%{ background: #879179; }
  75%{ background: #9fac90; }
  100%{ background: #b7c4a6; }
}
@keyframes dcolor2 {
  0%{ background: #b7c4a6; }
  25%{ background: #707863; }
  50%{ background: #879179; }
  75%{ background: #9fac90; }
  100%{ background: #b7c4a6; }
}

#green .nr3{
  -webkit-animation:dcolor3 10s ease-out infinite;
          animation:dcolor3 10s ease-out infinite;
  

}
@-webkit-keyframes dcolor3 {
  0%{ background: #9fac90; }
  25%{ background: #b7c4a6; }
  50%{ background: #707863; }
  75%{ background: #879179; }
  100%{ background: #9fac90; }
}
@keyframes dcolor3 {
  0%{ background: #9fac90; }
  25%{ background: #b7c4a6; }
  50%{ background: #707863; }
  75%{ background: #879179; }
  100%{ background: #9fac90; }
}

#green .nr4{
  -webkit-animation:dcolor4 14s ease-out infinite;
          animation:dcolor4 14s ease-out infinite;
  

}
@-webkit-keyframes dcolor4 {
  0%{ background: #879179; }
  25%{ background: #9fac90; }
  50%{ background: #707863; }
  75%{ background: #b7c4a6; }
  100%{ background: #879179; }
}
@keyframes dcolor4 {
  0%{ background: #879179; }
  25%{ background: #9fac90; }
  50%{ background: #707863; }
  75%{ background: #b7c4a6; }
  100%{ background: #879179; }
}

#green .nr5{
  -webkit-animation:dcolor5 12s ease-out infinite;
          animation:dcolor5 12s ease-out infinite;
  

}
@-webkit-keyframes dcolor5 {
  0%{ background: #b7c4a6; }
  25%{ background: #707863; }
  50%{ background: #879179; }
  75%{ background: #9fac90; }
  100%{ background: #b7c4a6; }
}
@keyframes dcolor5 {
  0%{ background: #b7c4a6; }
  25%{ background: #707863; }
  50%{ background: #879179; }
  75%{ background: #9fac90; }
  100%{ background: #b7c4a6; }
}

#green .nr6{
  -webkit-animation:dcolor6 15s ease-out infinite;
          animation:dcolor6 15s ease-out infinite;
  

}
@-webkit-keyframes dcolor6 {
  0%{ background: #9fac90; }
  25%{ background: #b7c4a6; }
  50%{ background: #707863; }
  75%{ background: #879179; }
  100%{ background: #9fac90; }
}
@keyframes dcolor6 {
  0%{ background: #9fac90; }
  25%{ background: #b7c4a6; }
  50%{ background: #707863; }
  75%{ background: #879179; }
  100%{ background: #9fac90; }
}

#green .nr7{
  -webkit-animation:dcolor7 14s ease-out infinite;
          animation:dcolor7 14s ease-out infinite;
  

}
@-webkit-keyframes dcolor7 {
  0%{ background: #707863; }
  25%{ background: #879179; }
  50%{ background: #b7c4a6; }
  75%{ background: #9fac90; }
  100%{ background: #707863; }
}
@keyframes dcolor7 {
  0%{ background: #707863; }
  25%{ background: #879179; }
  50%{ background: #b7c4a6; }
  75%{ background: #9fac90; }
  100%{ background: #707863; }
}

#green .nr8{
  -webkit-animation:dcolor8 15s ease-out infinite;
          animation:dcolor8 15s ease-out infinite;
  

}
@-webkit-keyframes dcolor8 {
  0%{ background: #879179; }
  25%{ background: #9fac90; }
  50%{ background: #707863; }
  75%{ background: #b7c4a6; }
  100%{ background: #879179; }
}
@keyframes dcolor8 {
  0%{ background: #879179; }
  25%{ background: #9fac90; }
  50%{ background: #707863; }
  75%{ background: #b7c4a6; }
  100%{ background: #879179; }
}


#green .nr9{
  -webkit-animation:dcolor9 18s ease-out infinite;
          animation:dcolor9 18s ease-out infinite;
  

}
@-webkit-keyframes dcolor9 {
  0%{ background: #707863; }
  25%{ background: #879179; }
  50%{ background: #b7c4a6; }
  75%{ background: #9fac90; }
  100%{ background: #707863; }
}
@keyframes dcolor9 {
  0%{ background: #707863; }
  25%{ background: #879179; }
  50%{ background: #b7c4a6; }
  75%{ background: #9fac90; }
  100%{ background: #707863; }
}

#green .nr10{
  -webkit-animation:dcolor10 16s ease-out infinite;
          animation:dcolor10 16s ease-out infinite;
  

}
@-webkit-keyframes dcolor10 {
  0%{ background: #b7c4a6; }
  25%{ background: #707863; }
  50%{ background: #9fac90; }
  75%{ background: #707863; }
  100%{ background: #b7c4a6; }
}
@keyframes dcolor10 {
  0%{ background: #b7c4a6; }
  25%{ background: #707863; }
  50%{ background: #9fac90; }
  75%{ background: #707863; }
  100%{ background: #b7c4a6; }
}

#green .nr11{
  -webkit-animation:dcolor11 10s ease-out infinite;
          animation:dcolor11 10s ease-out infinite;
  

}
@-webkit-keyframes dcolor11 {
  0%{ background: #9fac90; }
  25%{ background: #b7c4a6; }
  50%{ background: #707863; }
  75%{ background: #879179; }
  100%{ background: #9fac90; }
}
@keyframes dcolor11 {
  0%{ background: #9fac90; }
  25%{ background: #b7c4a6; }
  50%{ background: #707863; }
  75%{ background: #879179; }
  100%{ background: #9fac90; }
}

#green .nr12{
  -webkit-animation:dcolor12 11s ease-out infinite;
          animation:dcolor12 11s ease-out infinite;
  

}
@-webkit-keyframes dcolor12 {
  0%{ background: #879179; }
  25%{ background: #9fac90; }
  50%{ background: #707863; }
  75%{ background: #b7c4a6; }
  100%{ background: #879179; }
}
@keyframes dcolor12 {
  0%{ background: #879179; }
  25%{ background: #9fac90; }
  50%{ background: #707863; }
  75%{ background: #b7c4a6; }
  100%{ background: #879179; }
}

#green .nr13{
  -webkit-animation:dcolor13 15s ease-out infinite;
          animation:dcolor13 15s ease-out infinite;
  

}
@-webkit-keyframes dcolor13 {
  0%{ background: #707863; }
  25%{ background: #879179; }
  50%{ background: #b7c4a6; }
  75%{ background: #9fac90; }
  100%{ background: #707863; }
}
@keyframes dcolor13 {
  0%{ background: #707863; }
  25%{ background: #879179; }
  50%{ background: #b7c4a6; }
  75%{ background: #9fac90; }
  100%{ background: #707863; }
}

#green .nr14{
  -webkit-animation:dcolor14 14s ease-out infinite;
          animation:dcolor14 14s ease-out infinite;
  

}
@-webkit-keyframes dcolor14 {
  0%{ background: #b7c4a6; }
  25%{ background: #707863; }
  50%{ background: #9fac90; }
  75%{ background: #707863; }
  100%{ background: #b7c4a6; }
}
@keyframes dcolor14 {
  0%{ background: #b7c4a6; }
  25%{ background: #707863; }
  50%{ background: #9fac90; }
  75%{ background: #707863; }
  100%{ background: #b7c4a6; }
}

#green .nr15{
  -webkit-animation:dcolor15 18s ease-out infinite;
          animation:dcolor15 18s ease-out infinite;
  

}
@-webkit-keyframes dcolor15 {
  0%{ background: #9fac90; }
  25%{ background: #b7c4a6; }
  50%{ background: #707863; }
  75%{ background: #879179; }
  100%{ background: #9fac90; }
}
@keyframes dcolor15 {
  0%{ background: #9fac90; }
  25%{ background: #b7c4a6; }
  50%{ background: #707863; }
  75%{ background: #879179; }
  100%{ background: #9fac90; }
}

#green .nr16{
  -webkit-animation:dcolor16 22s ease-out infinite;
          animation:dcolor16 22s ease-out infinite;
  

}
@-webkit-keyframes dcolor16 {
  0%{ background: #879179; }
  25%{ background: #9fac90; }
  50%{ background: #707863; }
  75%{ background: #b7c4a6; }
  100%{ background: #879179; }
}
@keyframes dcolor16 {
  0%{ background: #879179; }
  25%{ background: #9fac90; }
  50%{ background: #707863; }
  75%{ background: #b7c4a6; }
  100%{ background: #879179; }
}