@media (max-width: 767px) {
	body{ margin-top:0; }
	#frontpage{
		position:relative;	
	}
	
	.headline{
		padding:0 10px;
		top:50%;
		margin-top:-20px;
		transform:translateY(-100%);
		box-sizing:border-box;
	}
	h1 { font-size: 50px; }
	
	h2 { font-size: 50px; }
	
	.box{ width:33.333%; }
	.column1, .column2, .column3, .column4{
		width: 200px;
		display:block;
		clear:both;
		margin:0 auto;
	}
	
	.wrapperForColumns {
		position: relative;
		top: auto;
		margin:0 0 50px 0;
		width:100%;
		transform: none;
	}
	
	.profile-picture {
		width: 70%;
	}
	
	.about-text {
		width: 80%;
		text-align:center;
	}
	
	.background {
		height: auto;
	}
	
	.contact .person-info {
		width: 100%;
		margin:10px 0;
		text-align: center;
	}
}


@media (max-width:1024px){
	.slide.out {
		-webkit-transform: translate3d(-100%, 0, 0);
			  transform: translate3d(-100%, 0, 0);
	}
	.slide.out .content {
		-webkit-transform: translate3d(100%, 0, 0);
			  transform: translate3d(100%, 0, 0);
	}	
	#profile-bar{ height:80px; }
	.slideshow{ padding-top:90px; }
	.profile-description{
		margin-left:0;
		text-align:center;
		width:100%;
		
	}
	.profile-description .text{ display:none; }
	.profile-description .name{ 
		font-size:18px;
		line-height:22px; 
	}
	.profile-image{
		width:60px;
		height:60px;
		left:10px;	
	}
	.close{ width:20px; height:20px; }
	.scroll-icon{
		width:70px;
		height:70px;
		background-image:url(../images/slide.svg); 
	}
}





