.visible-tablet{ display:none; }

/* --- PHONE ------------------------------------------- */
@media (max-width: 767px) {
	.column1, .column2, .column3, .column4{
		width: 200px;
		display:block;
		margin:0 auto;
	}
}

/* --- PHONE & TABLET ----------------------------------- */
@media (max-width: 1024px) {
	.slideshow.desktop{ display:none;  }
	body{ margin-top:0; }
	#frontpage{
		position:relative;	
	}
	
	.headline{
		padding:0 10px;
		top:50%;
		margin-top:-20px;
		-webkit-transform:translateY(-50%);
				transform:translateY(-50%);
		box-sizing:border-box;
	}
	h1 { font-size: 50px; }
	
	h2 { font-size: 50px; }
	
	.box{ width:33.333%; }
	.column1, .column2, .column3, .column4{
		width: 200px;
		margin:0 auto;
	}
	
	.wrapperForColumns {
		position: relative;
		top: auto;
		margin:0 0 50px 0;
		width:100%;
		transform: none;
	}
	
	.profile-picture {
		width: 70%;
		max-width:150px;
	}
	
	.about-text {
		width: 80%;
		text-align:center;
	}
	
	.background {
		height: auto;
	}
	
	.contact .person-info {
		width: 100%;
		margin:10px 0;
		text-align: center;
	}

	/* --- GALLERY ----------------------------------------------*/
	.slide.out {
		-webkit-transform: translate3d(-100%, 0, 0);
			  transform: translate3d(-100%, 0, 0);
	}
	.slide.out .content {
		-webkit-transform: translate3d(100%, 0, 0);
			  transform: translate3d(100%, 0, 0);
	}	
	#profile-bar{ height:80px; }
	.slideshow{ padding-top:90px; }
	.profile-description{
		margin:0 auto;
		text-align:center;
		width:100%;
		max-width:none;
		padding:0;
	}
	.profile-description .text{ display:none; }
	.profile-description .name{ 
		font-size:18px;
		line-height:22px; 
	}
	.profile-image{
		width:60px;
		height:60px;
		left:10px;	
	}
	.close{ width:20px; height:20px; }
	.scroll-icon{
		width:70px;
		height:70px;
		background-image:url(../images/slide.svg); 
	}
}

/* --- TABLET ------------------------------------------- */
@media (min-width: 768px) and (max-width: 1024px) {
	.visible-tablet{ display:inline; }

	.headline h1{ font-size:90px; }
	.headline strong{ font-size:26px; line-height:32px; max-width:550px; display:inline-block; }
	
	.wrapperForColumns {
		display:block;	
		position:relative;
		left:50%;
		width:auto;
		float:left;
		-webkit-transform:translateX(-50%);
				transform:translateX(-50%);
	}
	.column3, .column4, .column1, .column2{ display:block; float:left; }
	.column3{ clear:both; }
}


