@import "blue.css";
@import "beige.css";
@import "grey.css";
@import "green.css";

@import url(https://fonts.googleapis.com/css?family=Yellowtail);

body, html {
  width:100%;
  height: 100%;
  margin:0;
  padding:0;
}

body {
  margin-top: 100vh;
  font-family: 'Open Sans', sans-serif;
}

/*HEADLINES*/ 
h1 {
  color: white;
  text-align: center;
  letter-spacing: 5px;
  font-size: 100px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.headline{
	position: absolute;
	padding-top: 15%;
	width:100%;
	text-align:center;	
}
.headline h1{ margin:0; }
.headline strong{
	color:white;	
	font:18px/20px normal 'Yanone Kaffeesatz';
}

h2 {
  color: white;
  width:100%;
  text-align: center;
  letter-spacing: 5px;
  font-size: 60px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0;
  padding: 0.83em 0;
}

h3 {
  color: #bdb2ac;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 40px;
}

#color-header {
  color: #bdb2ac;
}

.about-text {
  margin: 0 auto;
  text-align: left;
  width: 50%;
  color: white;
  font-size: 13px;
  max-width: 800px;
  line-height: 150%;
}

/*CONTACT INFORMATION CSS*/ 

.person-info {
  font-size: 13px;
  color: white;
  margin: 10px;
  display: inline-block;
  text-align: left;
  width: 200px;
}

.person-info a {
  text-decoration: none;
  color: white;
}

.contact {
  color: white;
  margin: 0 auto;
  width: 100%;
}

.contact h4 {
  margin-bottom: 2px;
}

.contact div {
  
}



/*"The Prodject"---ICONS*/

.column1, .column2, .column3, .column4{
	width: 250px;
	margin:0 10px;
	display:inline-block;
}

.clearBoth {
  clear: both;
}

#bg1 p {
  text-align: center;
  font-weight: 500;
  color: #fff;
}

#bg1 img {
  text-align:center;
  width:60%;
  display:block;
  margin:auto;
}

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0px auto;
  position: relative;
}

.wrapperForColumns {
  position: absolute;
  top: 50%;
  width:100%;
  text-align:center;
  transform: translateY(-50%);
}



/*"The Result"---PROFILE PICTURES*/

.profile-picture {
  display: inline-block;
  width: 20%;
  padding: 3%;
}

.profile-picture img {
  width: 100%;
  border-radius: 100%;
}

.profile-wrap {
  margin: 0 auto;
}

/*Front page*/

.window {
  width: 50%;
  height: 50%;
  float: left;
}

#frontpage {
  width:100%;
  height:100%;
  position: fixed;
  top: 0;
  z-index: 0;
}

/*---THIS IS THE BACKGROUNDS!!!!!!*/

#bg1 {
  background-color: #80b0b0;
  z-index: 1;
  position:relative;
  
}

#bg2 {
  background-color: white;
  z-index: 1;
  position:relative;
  text-align: center;
}

#bg3 {
  background-color: #979998;
  z-index: 1;
  position:relative;
  text-align: center;
}

.background {
  height:100%;
  width: 100%;
  background-size: cover;
  float: left;
}

#blue {
  background-color: #80b0b0;
}

#beige {
  background-color: #bdb2ac;
}

#grey {
  background-color: #979998;
}

#green {
  background-color: #9fac90;  
}

/*ALL BOXES BOX*/

.box {
  width:25%;
  height: 25%;
  float:left;
}


