#blue .nr1 { background: #6e9695;}
#blue .nr2 { background: #80b0b0;}
#blue .nr3 { background: #5c7b7d;}
#blue .nr4 { background: #95c7c8;}

#blue .nr5 { background: #5c7b7d;}
#blue .nr6 { background: #95c7c8;}
#blue .nr7 { background: #80b0b0;}
#blue .nr8 { background: #6e9695;}

#blue .nr9 { background: #95c7c8;}
#blue .nr10 { background: #6e9695;}
#blue .nr11 { background: #5c7b7d;}
#blue .nr12 { background: #80b0b0;}

#blue .nr13 { background: #6e9695;}
#blue .nr14 { background: #5c7b7d;}
#blue .nr15 { background: #80b0b0;}
#blue .nr16 { background: #95c7c8;}


#blue .nr1{
  animation:color1 25s ease-out infinite;
  animation-delay:2s;

}
@keyframes color1 {
  0%{ background: #6e9695; }
  25%{ background: #95c7c8; }
  50%{ background: #80b0b0; }
  75%{ background: #5c7b7d; }
  100%{ background: #6e9695; }
}

#blue .nr2{
  animation:color2 15s ease-out infinite;
  animation-delay:2s;

}
@keyframes color2 {
  0%{ background: #80b0b0; }
  25%{ background: #6e9695; }
  50%{ background: #95c7c8; }
  75%{ background: #5c7b7d; }
  100%{ background: #80b0b0; }
}

#blue .nr3{
  animation:color3 10s ease-out infinite;
  animation-delay:2s;

}
@keyframes color3 {
  0%{ background: #5c7b7d; }
  25%{ background: #80b0b0; }
  50%{ background: #6e9695; }
  75%{ background: #95c7c8; }
  100%{ background: #5c7b7d; }
}

#blue .nr4{
  animation:color4 14s ease-out infinite;
  animation-delay:2s;

}
@keyframes color4 {
  0%{ background: #95c7c8; }
  25%{ background: #5c7b7d; }
  50%{ background: #6e9695; }
  75%{ background: #80b0b0; }
  100%{ background: #95c7c8; }
}

#blue .nr5{
  animation:color5 12s ease-out infinite;
  animation-delay:2s;

}
@keyframes color5 {
  0%{ background: #80b0b0; }
  25%{ background: #6e9695; }
  50%{ background: #95c7c8; }
  75%{ background: #5c7b7d; }
  100%{ background: #80b0b0; }
}

#blue .nr6{
  animation:color6 17s ease-out infinite;
  animation-delay:3s;

}
@keyframes color6 {
  0%{ background: #5c7b7d; }
  25%{ background: #80b0b0; }
  50%{ background: #6e9695; }
  75%{ background: #95c7c8; }
  100%{ background: #5c7b7d; }
}

#blue .nr7{
  animation:color7 14s ease-out infinite;
  animation-delay:0s;

}
@keyframes color7 {
  0%{ background: #6e9695; }
  25%{ background: #95c7c8; }
  50%{ background: #80b0b0; }
  75%{ background: #5c7b7d; }
  100%{ background: #6e9695; }
}

#blue .nr8{
  animation:color8 15s ease-out infinite;
  animation-delay:2s;

}
@keyframes color8 {
  0%{ background: #95c7c8; }
  25%{ background: #5c7b7d; }
  50%{ background: #6e9695; }
  75%{ background: #80b0b0; }
  100%{ background: #95c7c8; }
}


#blue .nr9{
  animation:color9 18s ease-out infinite;
  animation-delay:3s;

}
@keyframes color9 {
  0%{ background: #6e9695; }
  25%{ background: #95c7c8; }
  50%{ background: #80b0b0; }
  75%{ background: #5c7b7d; }
  100%{ background: #6e9695; }
}

#blue .nr10{
  animation:color10 16s ease-out infinite;
  animation-delay:3s;

}
@keyframes color10 {
  0%{ background: #80b0b0; }
  25%{ background: #6e9695; }
  50%{ background: #5c7b7d; }
  75%{ background: #6e9695; }
  100%{ background: #80b0b0; }
}

#blue .nr11{
  animation:color11 20s ease-out infinite;
  animation-delay:1s;

}
@keyframes color11 {
  0%{ background: #5c7b7d; }
  25%{ background: #80b0b0; }
  50%{ background: #6e9695; }
  75%{ background: #95c7c8; }
  100%{ background: #5c7b7d; }
}

#blue .nr12{
  animation:color12 19s ease-out infinite;
  animation-delay:2s;

}
@keyframes color12 {
  0%{ background: #95c7c8; }
  25%{ background: #5c7b7d; }
  50%{ background: #6e9695; }
  75%{ background: #80b0b0; }
  100%{ background: #95c7c8; }
}

#blue .nr13{
  animation:color13 15s ease-out infinite;
  animation-delay:0s;

}
@keyframes color13 {
  0%{ background: #6e9695; }
  25%{ background: #95c7c8; }
  50%{ background: #80b0b0; }
  75%{ background: #5c7b7d; }
  100%{ background: #6e9695; }
}

#blue .nr14{
  animation:color14 14s ease-out infinite;
  animation-delay:3s;

}
@keyframes color14 {
  0%{ background: #80b0b0; }
  25%{ background: #6e9695; }
  50%{ background: #5c7b7d; }
  75%{ background: #6e9695; }
  100%{ background: #80b0b0; }
}

#blue .nr15{
  animation:color15 18s ease-out infinite;
  animation-delay:1s;

}
@keyframes color15 {
  0%{ background: #5c7b7d; }
  25%{ background: #80b0b0; }
  50%{ background: #6e9695; }
  75%{ background: #95c7c8; }
  100%{ background: #5c7b7d; }
}

#blue .nr16{
  animation:color16 22s ease-out infinite;
  animation-delay:0s;

}
@keyframes color16 {
  0%{ background: #95c7c8; }
  25%{ background: #5c7b7d; }
  50%{ background: #6e9695; }
  75%{ background: #80b0b0; }
  100%{ background: #95c7c8; }
}