#green .nr1 { background: #707863;}
#green .nr2 { background: #b7c4a6;}
#green .nr3 { background: #9fac90;}
#green .nr4 { background: #879179;}

#green .nr5 { background: #9fac90;}
#green .nr6 { background: #879179;}
#green .nr7 { background: #b7c4a6;}
#green .nr8 { background: #707863;}

#green .nr9 { background: #879179;}
#green .nr10 { background: #707863;}
#green .nr11 { background: #9fac90;}
#green .nr12 { background: #b7c4a6;}

#green .nr13 { background: #707863;}
#green .nr14 { background: #9fac90;}
#green .nr15 { background: #b7c4a6;}
#green .nr16 { background: #879179;}

#green .nr1{
  animation:dcolor1 19s ease-out infinite;
  

}
@keyframes dcolor1 {
  0%{ background: #707863; }
  25%{ background: #879179; }
  50%{ background: #b7c4a6; }
  75%{ background: #9fac90; }
  100%{ background: #707863; }
}

#green .nr2{
  animation:dcolor2 15s ease-out infinite;
  

}
@keyframes dcolor2 {
  0%{ background: #b7c4a6; }
  25%{ background: #707863; }
  50%{ background: #879179; }
  75%{ background: #9fac90; }
  100%{ background: #b7c4a6; }
}

#green .nr3{
  animation:dcolor3 10s ease-out infinite;
  

}
@keyframes dcolor3 {
  0%{ background: #9fac90; }
  25%{ background: #b7c4a6; }
  50%{ background: #707863; }
  75%{ background: #879179; }
  100%{ background: #9fac90; }
}

#green .nr4{
  animation:dcolor4 14s ease-out infinite;
  

}
@keyframes dcolor4 {
  0%{ background: #879179; }
  25%{ background: #9fac90; }
  50%{ background: #707863; }
  75%{ background: #b7c4a6; }
  100%{ background: #879179; }
}

#green .nr5{
  animation:dcolor5 12s ease-out infinite;
  

}
@keyframes dcolor5 {
  0%{ background: #b7c4a6; }
  25%{ background: #707863; }
  50%{ background: #879179; }
  75%{ background: #9fac90; }
  100%{ background: #b7c4a6; }
}

#green .nr6{
  animation:dcolor6 15s ease-out infinite;
  

}
@keyframes dcolor6 {
  0%{ background: #9fac90; }
  25%{ background: #b7c4a6; }
  50%{ background: #707863; }
  75%{ background: #879179; }
  100%{ background: #9fac90; }
}

#green .nr7{
  animation:dcolor7 14s ease-out infinite;
  

}
@keyframes dcolor7 {
  0%{ background: #707863; }
  25%{ background: #879179; }
  50%{ background: #b7c4a6; }
  75%{ background: #9fac90; }
  100%{ background: #707863; }
}

#green .nr8{
  animation:dcolor8 15s ease-out infinite;
  

}
@keyframes dcolor8 {
  0%{ background: #879179; }
  25%{ background: #9fac90; }
  50%{ background: #707863; }
  75%{ background: #b7c4a6; }
  100%{ background: #879179; }
}


#green .nr9{
  animation:dcolor9 18s ease-out infinite;
  

}
@keyframes dcolor9 {
  0%{ background: #707863; }
  25%{ background: #879179; }
  50%{ background: #b7c4a6; }
  75%{ background: #9fac90; }
  100%{ background: #707863; }
}

#green .nr10{
  animation:dcolor10 16s ease-out infinite;
  

}
@keyframes dcolor10 {
  0%{ background: #b7c4a6; }
  25%{ background: #707863; }
  50%{ background: #9fac90; }
  75%{ background: #707863; }
  100%{ background: #b7c4a6; }
}

#green .nr11{
  animation:dcolor11 10s ease-out infinite;
  

}
@keyframes dcolor11 {
  0%{ background: #9fac90; }
  25%{ background: #b7c4a6; }
  50%{ background: #707863; }
  75%{ background: #879179; }
  100%{ background: #9fac90; }
}

#green .nr12{
  animation:dcolor12 11s ease-out infinite;
  

}
@keyframes dcolor12 {
  0%{ background: #879179; }
  25%{ background: #9fac90; }
  50%{ background: #707863; }
  75%{ background: #b7c4a6; }
  100%{ background: #879179; }
}

#green .nr13{
  animation:dcolor13 15s ease-out infinite;
  

}
@keyframes dcolor13 {
  0%{ background: #707863; }
  25%{ background: #879179; }
  50%{ background: #b7c4a6; }
  75%{ background: #9fac90; }
  100%{ background: #707863; }
}

#green .nr14{
  animation:dcolor14 14s ease-out infinite;
  

}
@keyframes dcolor14 {
  0%{ background: #b7c4a6; }
  25%{ background: #707863; }
  50%{ background: #9fac90; }
  75%{ background: #707863; }
  100%{ background: #b7c4a6; }
}

#green .nr15{
  animation:dcolor15 18s ease-out infinite;
  

}
@keyframes dcolor15 {
  0%{ background: #9fac90; }
  25%{ background: #b7c4a6; }
  50%{ background: #707863; }
  75%{ background: #879179; }
  100%{ background: #9fac90; }
}

#green .nr16{
  animation:dcolor16 22s ease-out infinite;
  

}
@keyframes dcolor16 {
  0%{ background: #879179; }
  25%{ background: #9fac90; }
  50%{ background: #707863; }
  75%{ background: #b7c4a6; }
  100%{ background: #879179; }
}