@media (max-width: 767px) {
	body{ margin-top:0; }
	#frontpage{
		position:relative;	
	}
	
	h1 {
		font-size: 50px;
	}
	
	h2 {
		font-size: 50px;
	}
	
	.box{
		width:33.333%;	
	}
	#frontpage h1{ font-size:40px; position:absolute; top:50%; transform:translateY(-50%); margin:-50px 0 0 0; }
	.column1, .column2, .column3, .column4{
		width: 200px;
		display:block;
		clear:both;
		margin:0 auto;
	}
	
	.wrapperForColumns {
		position: relative;
		top: auto;
		margin:0 0 50px 0;
		width:100%;
		transform: none;
	}
	
	.profile-picture {
		width: 70%;
	}
	
	.about-text {
		width: 80%;
	}
	
	.background {
		height: auto;
	}
	
	.contact div {
		width: 100%;
		text-align: center;
	}
}

