@import "blue.css";
@import "beige.css";
@import "grey.css";
@import "green.css";

body, html {
  width:100%;
  height: 100%;
  margin:0;
  padding:0;
}
/*Background*/

#bg1 {
  background-image: url("yoda picture.jpg");
}

#bg2 {
  background-color: #bdb2ac;
}

#bg3 {
  background-color: #80b0b0;
}

.background {
  height:100%;
  width: 100%;
  background-size: cover;
  float: left;
}

/*Headtext*/ 
h1,h2 {
  color: white;
  text-align: center;
  font-family: helvetica;
}

/*Front page*/

.window {
  width: 50%;
  height: 50%;
  float: left;
}

#frontpage {
  width:100%;
  height:100%;
}

#blue {
  background-color: #80b0b0;
}

#beige {
  background-color: #bdb2ac;
}

#grey {
  background-color: #979998;
}

#green {
  background-color: #9fac90;  
}

/*BLUE BOX*/

.box {
  width:25%;
  height: 25%;
  float:left;
}



/*BEIGE BOX*/

